﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Bootstrap Replacements */
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 50px;
}

.bg-primary {
    color: #fff;
    background-color: #008cba !important;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #006687 !important;
}

.bg-success {
    background-color: #dff0d8 !important;
}

a.bg-success:hover,
a.bg-success:focus {
    background-color: #c1e2b3 !important;
}

.bg-info {
    background-color: #d9edf7 !important;
}

a.bg-info:hover,
a.bg-info:focus {
    background-color: #afd9ee !important;
}

.bg-warning {
    background-color: #fcf8e3 !important;
}

a.bg-warning:hover,
a.bg-warning:focus {
    background-color: #f7ecb5 !important;
}

.bg-danger {
    background-color: #f2dede !important;
}

a.bg-danger:hover,
a.bg-danger:focus {
    background-color: #e4b9b9 !important;
}

@media (min-width: 992px) {
    .equal-md {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

div[class*='equalized'] {
    display: flex;
}

.panel {
    flex: 1 0 100%;
}


.aligner {
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: center;
}

.img-responsive-limited {
    height: 150px !important;
}

.btn-mobile {
    -ms-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    bottom: 25px;
    right: 25px;
    line-height: 1;
}

.btn-yellow {
    color: #222222;
    background-color: #ecc802;
    border-color: #d3b302;
}

.btn-yellow:focus,
.btn-yellow.focus {
    color: #222222;
    background-color: #b99d02;
    border-color: #544701;
}

.btn-yellow:hover {
    color: #222222;
    background-color: #b99d02;
    border-color: #967f01;
}

.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
    color: #222222;
    background-color: #b99d02;
    background-image: none;
    border-color: #967f01;
}

.btn-yellow:active:hover,
.btn-yellow.active:hover,
.open > .dropdown-toggle.btn-yellow:hover,
.btn-yellow:active:focus,
.btn-yellow.active:focus,
.open > .dropdown-toggle.btn-yellow:focus,
.btn-yellow:active.focus,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow.focus {
    color: #222222;
    background-color: #967f01;
    border-color: #544701;
}

.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus {
    background-color: #ecc802;
    border-color: #d3b302;
}

.btn-yellow .badge {
    color: #ecc802;
    background-color: #222222;
}
