﻿@{
    ViewBag.Title = "Validação de Conta";
    Layout = "_LayoutMinimal";
}

<style type="text/css">
    body {
        font-family: 'Varela Round', sans-serif;
        background-color: #c5c5c5 !important;
    }

    .modal-confirm {
        width: 350px;
    }

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }

    .modal-confirm .form-control, .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .modal-confirm .modal-body {
        padding: 20px 0 20px 0;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }

    .modal-confirm .icon-box {
        color: #fff;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #FDD912;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .modal-confirm .icon-box i {
        font-size: 58px;
        position: relative;
        top: 3px;
    }

    .modal-confirm.modal-dialog {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #FDD912;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }

    .modal-confirm .btn:hover, .modal-confirm .btn:focus {
        background: #E3C310;
        outline: none;
    }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<!-- Modal HTML -->
<div id="validation_modal" class="modal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            @if (ViewData["State"].Equals("Success"))
            {
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">check</i>
                    </div>
                    <h4 class="modal-title">Seja bem vindo!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Sua conta foi ativada com sucesso!</p>
                    <p class="text-center">Agora você poderá fazer login no site e utilizar todos os nossos serviços!</p>
                </div>
            }
            else if (ViewData["State"].Equals("Expired"))
            {
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <h4 class="modal-title">Ops...</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Este link de validação não está mais válido.</p>
                    <p class="text-center">Um novo link foi encaminhado para o seu email.</p>
                </div>
            }
            else
            {
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">close</i>
                    </div>
                    <h4 class="modal-title">Erro!</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Este link está errado ou é inválido.</p>
                    <p class="text-center">Tente novamente mais tarde!</p>
                </div>
            }

            <div class="modal-footer">
                <a href="/" class="btn btn-success btn-block">OK</a>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">