﻿@model MaisBaratoWeb.Models.PnP.ProductModel

@{
    ViewData["Title"] = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/cropper_master/cropper.css" />

<style>
    .label_crop {
        cursor: pointer;
    }

    .img-container img {
        max-width: 100%;
    }
</style>

<h2>Alterar oferta: @Model.Name</h2>

<hr />
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form method="post" enctype="multipart/form-data" asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PlaceId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="10" cols="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriesString" class="control-label"></label>
                <input asp-for="CategoriesString" value="@string.Join(", ", Model.Categories.Select(cat => cat.VisualName))" class="form-control" autocomplete="off" />
                <span asp-validation-for="CategoriesString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUntil" class="control-label"></label>
                <input type="date" asp-for="AvailableUntil" class="form-control" autocomplete="off" />
                <span asp-validation-for="AvailableUntil" class="text-danger"></span>
            </div>
            <div class="form-group" id="image-cropper">
                <div class="row">
                    <div class="col-md-12">
                        <small class="text-muted">Imagem Atual:</small>

                    </div>
                </div>
                <label asp-for="ImageFile" class="control-label label_crop text-primary panel panel-info aligner bg-info" style="min-height: 50px">
                    <img src="@($"/images/sales/{Model.Image}")" id="thumb" class="img-thumbnail" style="max-width: 200px" />
                    <div id="load" class="hidden">
                        <span class="glyphicon glyphicon-upload"></span>&nbsp;Carregar Foto
                    </div>
                    <input type="file" asp-for="ImageFile" class="form-control sr-only" accept="image/*" />
                    <input type="hidden" asp-for="Image" value="@Model.Images.Last()" id="ImageStr" />
                    <input type="hidden" asp-for="ImageFileName" value="@Model.Images.First()" id="ImageStr" />
                </label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para ofertas</a>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cortar a Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="imageCrop" src="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="crop">Cortar</button>
            </div>
        </div>
    </div>
</div>

