﻿@model List<MaisBaratoWeb.Models.PnP.ProductModel>

@{
    ViewBag.Title = "Suas Ofertas";
    Layout = "_Layout";
}

<h2>Suas Ofertas</h2>

@{ var current_date = DateTime.Now; }

@if (TempData["Changed"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sucesso!</strong> @TempData["Changed"].ToString()
    </div>
}

<div class="row equal-md clearfix">
    @foreach (var product in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
            <div class="panel  @(product.Status ? "panel-default" : "panel-danger") ">
                <div class="panel-heading @(!product.Status ? "bg-danger" : "") text-right">
                    <img src="@(string.IsNullOrEmpty(product.Images[0]) ? product.Name : $"/images/sales/{product.Images[0]}")" alt="@product.Name" class="img-responsive center-block img-responsive-limited" />
                    <small class="text-muted">@(product.Status ? $"Oferta válida até {product.AvailableUntil:d}" : "Oferta vencida")</small>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @product.Description.Substring(0, product.Description.Length < 80 ? product.Description.Length : 80)...
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ActionLink("Visualizar/Editar", "Alterar", "Ofertas", new { id = product.Id }, new { @class = "btn btn-sm btn-block btn-success" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                            @(product.Status ?
                                                                                                                  Html.ActionLink("Encerrar oferta", "Desativar", "Ofertas", new { id = product.Id }, new { @class = "btn btn-sm btn-block btn-danger" })
                                                                                                                  :
                                                                                                                  Html.ActionLink("Reativar oferta", "Ativar", "Ofertas", new { id = product.Id }, new { @class = "btn btn-sm btn-block btn-info" }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-3 hidden-xs hidden-sm col-lg-3 equalized">
        @Html.ActionLink("Adicionar nova oferta", "NovaOferta", "Ofertas", htmlAttributes: new { @class = "panel panel-info aligner bg-info" })
    </div>
</div>
<div class="visible-sm-block visible-xs-block">
    <a asp-controller="Ofertas" asp-action="NovaOferta" class="btn btn-success btn-lg btn-mobile" data-toggle="tooltip" title="Adicionar nova oferta"><span class="glyphicon glyphicon-plus"></span></a>
</div>
