﻿@model MaisBaratoWeb.Models.Authentication.UserModel;

<div class="container">
    <div class="wrap spaces">
        <img src="images/maisbarato_yellow.png" width="80px" />
        <h1 class="ae-1 done">Seja um parceiro +Barato você também!</h1>
        <div class="ae-2 done">
            <p>Isso mesmo, se você tem um produto ou serviço e quer cadastrar o seu desconto é rápido, fácil e totalmente grátis.</p>
        </div>
        <div class="fix-5-12 margin-top-3 selected popupContent">
            <form id="signup-form" name="signup_form" action="/" method="post" class="wide center slides-form done" data-ajax-form="true">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "ae-3 wide done", placeholder = "Nome Completo", autocomplete = "off" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ae-3 wide done", placeholder = "E-mail", type = "email", autocomplete = "off" } })
                @*@Html.EditorFor(model => model.PlaceName, new { htmlAttributes = new { @class = "ae-3 wide done", placeholder = "Nome do seu estabelecimento", autocomplete = "off" } })*@

                <input id="submit_signup_form_but" class="button wide green margin-top-2 gradient done" type="submit" name="submit" value="Cadastrar" data-success-text="Obrigado! Entraremos em contato com você logo!" data-success-class="green">
                <small class="micro"><span class="opacity-5">Possui um cadastro? Faça </span><a href="#login_form" class="popupTrigger" data-popup-action="close" data-popup-id="login_form">login aqui</a></small>
            </form>
        </div>
    </div>
</div>