﻿@model MaisBaratoWeb.Models.Authentication.UserModel;

<div class="container">
    <div class="wrap spaces">
        <img src="images/maisbarato_yellow.png" width="80px" />
        <h1 class="ae-1 done">Seja um parceiro +Barato você também!</h1>
        <div class="ae-2 done">
            <p>Se você tem um estabelecimento e quer cadastrar o seu desconto, é rápido, fácil e totalmente grátis!</p>
            <p>Cadastre seu estabelecimento agora mesmo:</p>
        </div>
        <div class="fix-5-12 margin-top-3 selected popupContent">
            <form method="post" id="signup-form" name="signup_form" class="wide center slides-form done" data-ajax-form="true" asp-action="SignUp">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="FirstName" class="ae-3 wide done" placeholder="Nome" autocomplete="off" />
                <span asp-validation-for="FirstName" class="danger"></span>
                <input asp-for="LastName" class="ae-3 wide done" placeholder="Sobrenome" autocomplete="off" />
                <span asp-validation-for="LastName" class="danger"></span>
                <input asp-for="Document" class="ae-3 wide done" placeholder="CNPJ" autocomplete="off" />
                <span asp-validation-for="Document" class="danger"></span>
                <input asp-for="Email" class="ae-3 wide done" placeholder="E-mail" autocomplete="off" />
                <span asp-validation-for="Email" class="danger"></span>
                <input asp-for="Username" class="ae-3 wide done" placeholder="Nome de Usuário" onkeypress="return AvoidSpace(event)" autocomplete="off" />
                <span asp-validation-for="Username" class="danger"></span>
                <input asp-for="Password" class="ae-3 wide done" placeholder="Senha" autocomplete="off" />
                <span asp-validation-for="Password" class="danger"></span>

                <input id="submit_signup_form_but" class="button wide green margin-top-2 gradient done" type="submit" name="submit" value="Cadastrar" data-success-text="Obrigado! Entraremos em contato com você logo!" data-success-class="green">
                <small class="micro"><span class="opacity-5">Possui um cadastro? Faça </span><a href="#login_form" class="popupTrigger" data-popup-action="close" data-popup-id="login_form">login aqui</a></small>
            </form>
        </div>
    </div>
</div>

