﻿@model MaisBaratoWeb.ViewModels.SignUpViewModel

@{
    ViewBag.Title = $"MaisBarato - Bem vindo, {Model.FirstName}!";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/cropper_master/cropper.css" />

<style>
    #map {
        width: 100%;
        height: 500px;
    }

    #description {
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        margin-left: 5%;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 90%;
        margin-top: .65rem;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }

    .label_crop {
        cursor: pointer;
    }

    .img-container img {
        max-width: 100%;
    }

    .cropper-crop-box, .cropper-view-box {
        border-radius: 50%;
    }

    .cropper-view-box {
        box-shadow: 0 0 0 1px #39f;
        outline: 0;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-action="CompleteProfile">

    <h2>Bem vindo ao MaisBarato, @Model.FirstName</h2>

    <p>Para continuar, você deve completar o seu cadastro:</p>

    <div class="row">
        <div class="col-md-12">
            <label asp-for="PlaceName" class="control-label">Digite o nome de seu estabelecimento <small class="text-muted">(Este nome aparecerá no App para os usuários)</small>:</label>
            <input asp-for="PlaceName" class="form-control" autocomplete="off" placeholder="Nome do Estabelecimento" autofocus />
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-12" id="image-cropper-round">
            <label>Carregar imagem para o perfil do App:</label>
            <label asp-for="ImageFile" class="control-label label_crop text-primary panel panel-info aligner bg-info" style="min-height: 50px">
                <img src="" id="thumb" class="img-thumbnail hidden" style="max-width: 200px" />
                <div id="load">
                    <span class="glyphicon glyphicon-upload"></span>&nbsp;Carregar Foto
                </div>
                <input type="file" asp-for="ImageFile" class="form-control sr-only" accept="image/*" />
                <input type="hidden" asp-for="Image" id="ImageStr" />
            </label>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="pac-input" class="control-label">Selecione a localização de seu estabelecimento:</label>
            <input type="hidden" asp-for="Localization" />
            <input id="pac-input" class="form-control" type="text" placeholder="Digite o endereço do estabelecimento">

            <div id="map"></div>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <input type="submit" class="btn btn-lg btn-yellow pull-right" value="Continuar >" />
        </div>
    </div>
</form>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cortar a Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <img id="imageCrop" src="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="crop">Cortar</button>
            </div>
        </div>
    </div>
</div>
