﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,
         initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Page Title -->
    <title>+Barato - A vitrine de ofertas do seu negócio!</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <!-- Compressed Styles -->
    <link href="css/slide_theme/slides.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery 3.3.1 -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <!-- Compressed Scripts -->
    <script src="js/slide_theme/slides.min.js" type="text/javascript"></script>
    <script src="~/js/masked_input/jquery.maskedinput-1.1.4.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#Document').length > 0) {
                $("#Document").mask("99.999.999/9999-99");
            }
        });


        function AvoidSpace(event) {
            var k = event ? event.which : window.event.keyCode;
            if (k == 32) return false;
        }
    </script>
    <!-- Fonts and Material Icons -->
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons" />
</head>
<body class="slides simplifiedMobile animated">
    @RenderBody();
</body>
</html>